@{
    ViewData["Title"] = "Política de Privacidad";
}
<h1 class="text-center fw-bold">@ViewData["Title"]</h1>

<div class="container mt-4">
    <p class="lead text-muted">
        En esta página, detallamos nuestra política de privacidad y cómo manejamos tus datos.
    </p>
    <h2 class="mt-4">1. Información que Recopilamos</h2>
    <p>
        Recopilamos información personal cuando te registras en nuestro sitio, realizas un pedido o te suscribes a nuestro boletín informativo. La información puede incluir tu nombre, dirección de correo electrónico y detalles de contacto.
    </p>

    <h2 class="mt-4">2. Uso de la Información</h2>
    <p>
        Utilizamos la información que recopilamos para:
    </p>
    <ul>
        <li>Procesar y gestionar tus pedidos.</li>
        <li>Mejorar nuestro sitio web y servicios.</li>
        <li>Enviar correos electrónicos periódicos sobre tus pedidos o información relacionada.</li>
    </ul>

    <h2 class="mt-4">3. Protección de la Información</h2>
    <p>
        Implementamos una variedad de medidas de seguridad para mantener la seguridad de tu información personal. Sin embargo, recuerda que ningún método de transmisión a través de Internet o método de almacenamiento electrónico es 100% seguro.
    </p>

    <h2 class="mt-4">4. Divulgación a Terceros</h2>
    <p>
        No vendemos, comerciamos ni transferimos tu información personal a terceros sin tu consentimiento, excepto en los casos necesarios para cumplir con la ley o proteger nuestros derechos.
    </p>

    <h2 class="mt-4">5. Cambios en Nuestra Política de Privacidad</h2>
    <p>
        Nos reservamos el derecho de actualizar esta política en cualquier momento. Te notificaremos sobre cambios importantes en nuestra política de privacidad a través de nuestro sitio web.
    </p>

    <h2 class="mt-4">6. Contacto</h2>
    <p>
        Si tienes preguntas sobre esta política de privacidad, por favor contáctanos a través de la información proporcionada en nuestro sitio web.
    </p>
</div>

<!-- Estilos adicionales -->
<style>
    h1 {
        color: #333; /* Color del título */
    }

    h2 {
        color: #555; /* Color de subtítulos */
    }

    p {
        line-height: 1.6; /* Espaciado entre líneas */
    }
</style>

